* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

*:active {
	outline: none!important;
}

*:hover {
	outline: none!important;
}

*:focus {
	outline: none!important;
}



html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	font: 18px $Lato;
	background: #fff;
	color: #706A6A;
}
