.account-header {
    height: 65px;
}

.account-prof { 
    margin-left: 15px;
    @media (max-width: 991px) {
        // margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    &--svg {
        width: 50px;
        height: 50px;
        fill: #2EAFFF;
    }

    &__block {
        background: #DCE6F0;
        border-radius: 50%;
        width: 50px;
        height:50px;
        position: relative;

        &--img {
            // display: block;
            // margin: auto;
            width: 65%;
            position: absolute;
            margin: auto;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }
}

.account-card {
    &__block {
        margin-top: 100px;
    }

    &__person {
        @media (max-width: 992px) {
            display: flex;
        }
        &--container {
            background: #F9F9F9;
            @media (max-width: 992px) {
                max-width: 65px;
                background: #fff;
                margin-right: 5%;

            }
        }
    }

    &__info {

    &--name {
        font-size: 18px;
        line-height: 24px;
        color: #706A6A;
        margin-top: 10px;
    }

    &--appeal {
        display: flex;
        margin-top: 10px;

        &--p {
            margin-right: 5px;
        }

        &--num {
            color: #438DBA;
        }
    }
      
    &--balance {
        display: flex;
        margin-top: 10px;

        &--p {
            margin-right: 5px;
        }

        &--num {
            color: #438DBA;
        }
    }
    }

    &__h2 {
        color: #438DBA;
        margin-bottom: 40px;
    }
}

.list-card:first-child {
    border-top: none;
}

.list-card {
    background: #fff!important;
    border-left: none;
    border-right: none;

    &__header {
        background: #fff;
        display: flex;
        // border-bottom: none;

        &--block {
            width: 100%;
        }
    }

    &__btn {
        font-size: 25px;
        line-height: 30px;
        color: #706A6A;
        text-align: justify;
        display: inline-block;
        width: 100%;
        display: flex;
        justify-content: space-between;


    }
    &__btn.collapsed svg{
        transform: rotate(0);
    }
    &__btn svg {
        transform: rotate(180deg);
    }

    &__btn:hover {
        text-decoration: none;
        color: #706A6A;

    }

    &__btn:active {
        text-decoration: none;
        color: #706A6A;

    }

    &__btn:focus {
        box-shadow: none;
        text-decoration: none;

    }

    &__svg {
        width: 33px;
        height: 20px;
        margin: auto 0;
    }

    .balance {
        &__table {
            width: 80%!important;
            margin: auto;
        }
    }

    .appeal {
        padding: 0 0 10px 0;

        @media (max-width: 767px) {
            display: none;
    
        }

        &__table {
            width: 100%;
            border-spacing: 7px 11px;

            &--title {
                font-size: 20px;
                line-height: 24px;
                color: rgba(112, 106, 106, 0.5);
            }

            &--items {
                font-size: 20px;
                line-height: 24px;
                color: #706A6A;
                padding-top: 15px;
                padding-right: 20px;

                &--described {
                    text-align: center;
                } 

                &--n-described {
                    color: #B32078;
                } 

                &--svg {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                &--svg--td {
                    padding-top: 0;
                }

                &--a {
                    color: #438DBA;
                }
            }

            &--items:last-child {
                padding-right: 0;
            }
        }

        .filters {

            &__ul {
                display: flex;
                margin-bottom: 20px;

                &--li {
                    margin-right: 20px;
                }

                &--input {
                    margin-right: 10px;
                }
            }
        }

        .balance {

            &__ul {
                display: flex;
                margin-bottom: 20px;

                &--li {
                    margin-right: 20px;
                }

                &--input {
                    margin-right: 10px;
                }
            }
        }
    }
}

.mob-appeal {
    @media (min-width: 768px) {
        display: none;

    }

    &__ul {

        &--li {
            margin-top: 10px;
        }

        &--li:last-child {
            margin-bottom: 10px;
        }
    }

    .mob-block {
        border-bottom:2px solid #DCE6F0;
        padding-bottom: 20px;
        &__svg {

            &--item {
                margin-top: 10px;
            }
        }

        &__info {
            
            &--row {
                display: flex;
                margin-top: 10px;
            }

            &--time {
                margin-right: 50px;
            }

            &--container {
                margin-top: 10px;
            }

            &--svg {
                height: 20px;
            }

            &--head {
                font-size: 16px;
                line-height: 19px;
                color: rgba(112, 106, 106, 0.5);
            }

            &--sub {
                font-size: 16px;
                line-height: 19px;
                color: #706A6A;
                margin-top: 5px;
            }

            &--a {
                font-size: 16px;
                line-height: 19px;
                color: #438DBA; 
                margin-top: 10px; 
                display: inline-block;
            }

            &--a:hover {
                text-decoration-line: underline;
            }
        }

    }

    .filters__ul--input {
        margin-right: 5px;
    }
}

.profile {
    &--name {
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }

    &__field {
        margin-top: 10px;
        @media (min-width: 991px) {
            display: flex;
            // justify-content: space-between;
        }

        &--head {
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }

        &--sub {
            font-size: 20px;
            line-height: 24px;
            color: #828282;
            margin-top: 5px;
        }
    }

    &__gender {
        display: flex;
        margin-top: 30px;

        &--tab {
            margin-right: 30px;

            &--input {
                margin-right: 10px;
            }
        }
    }

    &__checkbox {
        display: flex;

        &--tab {
            margin-right: 15px;
            margin-top: 10px;
        }

        &--input {
            margin-right: 5px;
        }
    }
}

.account-news {
    margin-top: 40px;
}

.chart {
    .chart-filters {
        display: flex;
        justify-content: flex-end;

        &__btn {
            margin-right: 15px;
            margin-top: 30px;
            &--a {
                font-size: 20px;
                line-height: 24px;
                color: rgba(112, 106, 106, 0.5);
                border: 1px solid rgba(112, 106, 106, 0.5);
                box-sizing: border-box;
                border-radius: 33px;
                background: transparent;
                padding: 5px 15px;
            }

            &--a:hover {
                text-decoration: none;
                color: #B32078;
                border: 1px solid #B32078;
            }

            &--a.active {
                color: #B32078;
                border: 1px solid #B32078;
            }
        }

        &__btn:last-child {
            margin-right: 0;
        }
    }
}

