.doctors {
    height: 575px;

    &--h1 {
        margin-top: 35px;
        font-size: 25px;
        line-height: 43px;
        color: #706A6A;
    }

    &__sl .slick-list {
        padding-top: 30px;
    }

    &__sl {
        margin-top: 50px;
        width: 100%;
        margin-bottom: 100px;
        left: 0;

        // &--slide {
        //     margin-right: 40px;

        // }

        // &--slide:nth-child(2n + 1) {
        //     margin-right: 0;

        // }

        &--block {
            background: #F9F9F9;
        }

        &--dots {
            // bottom: -15%;
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }

        &--dots li button {
            background: #DCE6F0;
            border-radius: 50%;
            font-size: 0;
            width: 8px;
            height: 8px;
            margin: 0 10px;
        }

        &--dots li{
            // position: relative;
            display: flex;
        }

        // &--dots li.slick-active::after{
        //     position: absolute;
        //     content: "";
        //     border: 1px solid red;
        //     width: 11px;
        //     height: 11px;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        //     border-radius: 50%;
        // }

        &--dots li.slick-active button {
            background: #2EAFFF;
            border: 1px solid #2EAFFF;
            box-sizing: border-box;
            margin-left: 10px;
            // margin: auto;

            // transform: matrix(-1, 0, 0, 1, 0, 0);
            // margin: 2px;
        }

        &--dots li button:focus {
            outline: none;
        }

        &--slide img {
            position: relative;
            margin: auto;
            z-index: 999;
            top: -30px
        }

        &--text {
            background: #F9F9F9;
            height: 120px;
            text-align: center;
        }

        &--zag {
            font-size: 20px;
            line-height: 36px;
            color: #438DBA;
        }

        &--desc {
            font-size: 20px;
            line-height: 28px;
            color: #706A6A;
        }

        &--svg {
            background: #438DBA;
            width: 50px;
            height: 50px;
            position: relative;
        }

        &--arrow {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
        }

    }

}
