.doctors {
    height: 575px;

    &--h1 {
        margin-top: 35px;
        font-size: 25px;
        line-height: 43px;
        color: #706A6A;
    }

    &__sl {
        margin-top: 50px;
        width: 100%;
        margin-bottom: 100px;
        left: 0;

        &--block {
            background: #DCE6F0;
        }

        &--dots {
            bottom: -15%;
        }

        &--slide img {
            position: relative;
            margin: auto;
            z-index: 999;
            top: -30px
        }

        &--text {
            background: #DCE6F0;
            height: 100px;
            text-align: center;
        }

        &--zag {
            font-size: 20px;
            line-height: 36px;
            color: #2EAFFF;
        }

        &--desc {
            font-size: 20px;
            line-height: 28px;
            color: #706A6A;
        }

    }

}
