.footer {
    background: #438DBA;
    margin-top: 50px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.footer-main {
    margin-top: 15px;
    &__text {

        @media (max-width: 991px) {
            margin-top: 5px;
        }

        &--a {
            font-size: 15px;
            line-height: 24px;
            color: #fff;
        }

        &--a:hover {
            text-decoration: none;
            color: #fff;

        }


    }

    &__contact svg {
        fill: #fff!important;
    }

    &__contact {
        text-align: left;
        @media (max-width: 991px) {
            margin-top: 10px;
        }
        .icons-block {
            display: flex;
            // justify-content: flex-end; 
        
            &--button {
                margin-right: 5px;           
            }
      
            .icon {
                width: 20px;
                height: 20px;
                margin-right: 15px;
            }
        }
        
        .number {
            margin-top: 15px;
            text-align: center;
        
        
            &--a {
                text-decoration: none;
                font-size: 20px;
                line-height: 24px;
                color: #fff;
        
                @media (max-width: 1199px) {
                    font-size: 15px;  
                }
            }
        
        }
    }
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 20px;

    &__p {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 15px;
        line-height: 24px;
        color: #fff;
    }
}



