// .default {
//     position: fixed;
//     top: 0;
// }

.logo {
    margin-top: 5px;
}

.logo img {
    height: 35px;
}

.header {
    height: 50px;
    width: 100%;
    z-index: 999;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(79, 91, 101, 0.1);


    @media (max-width: 991px) {
        height: 60px;
    }

    &__right {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 575px) {
            text-align: center; 
        }

        .icons-block {
            display: flex;
            justify-content: center;
            margin: auto 0;

            &--button {
                margin-right: 15px;            

                @media (max-width: 767px) {
                    margin-right: 10px;            
                }
            }

            &--button:last-child {
                @media (max-width: 767px) {
                    margin-right: 20px;            
                } 
            }

            &--button--div a {
                width: 35px;
                height: 35px;
            }

            .icon {
                width: 20px;
                height: 20px;
                fill: #438DBA;

                @media (max-width: 767px) {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .number {
            margin-top: 5px;
            text-align: center;
            margin: auto 0;

            &--a {
                text-decoration: none;
                font-size: 20px;
                line-height: 24px;
                color: #706A6A;

                @media (max-width: 1199px) {
                    font-size: 15px;  
                }
            }

        }

        .button {
            // vertical-align: none;
            display: block;
            margin: auto;
            @media (max-width: 768px) {
                display: none;
            }

            &__mob {
                margin-top: 5px;
                margin-right: 15px;

                @media (min-width: 767px) {
                    display: none;
                }

                &--svg {
                    fill: #438DBA!important;
                }
            }

            &__mob a {
                width: 35px;
                height: 35px;
            }

            .icon {
                width: 20px;
                height: 20px;
                fill: #438DBA;

                @media (max-width: 767px) {
                    width: 16px;
                    height: 16px;
                }
            }

            &--a {
                text-decoration: none;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                background: #438DBA;
                border-radius: 33px;
                padding: 5px 50px;
                // @media (max-width: 767px) {
                //     padding: ;
                // }


                @media (min-width: 576px) {
                    display: block;
                    margin: auto;

                }

            }
        }
    }
}

.icons-block--button--div {
    width: 25px;
    height: 25px;
    // display: inline-block;
}

.icon {
    width: 35px;
    height: 35px;
    fill: #438DBA;

    @media (max-width: 767px) {
        width: 35px;
        height: 35px;
    }
}

.button {
    // margin-top: 5px;
    @media (max-width: 575px) {
        margin-top: 10px;
    }
    &--a {
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        background: #438DBA;
        border-radius: 33px;
        padding: 5px 35px;


    }

    &--a:hover {
        text-decoration: none;
        color: #FFFFFF;

    }
}