.info-tabs {
    &__blocks {
        margin-top: 100px;
        margin-bottom: 60px;

    }

    &__cards {
        background: #f9f9f9;
        padding: 30px 30px 10px 30px;
        
        &--a {
            padding: 0;
            border-top: none!important;
            border-right: none!important;
            border-left: none!important;
            border-bottom: none!important;   
            font-size: 20px;
            line-height: 36px;
            color: #438DBA;     
            height: 100%;
            @media (max-width: 767px) {
                font-size: 16px;
            }

            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        &--a:hover {
            color: #438DBA!important;
        }

        &--a.active {
            border-radius: 22px;
            background: #438DBA!important;
            color: #fff!important;
        }

        &--btn {
            text-align: center;
        }

        &--pane {
            padding: 20px 10px;
        }

        &--pane.active {
            background: #F9F9F9!important;
        }
    }

    &__cards ul {
        background: #fff;
        border-radius: 22px;
        border-bottom: none;
    }

    &__svg {

        &--icon {
            width: 120px;
            height: 120px;
            fill: #DCE6F0;
        }

        &--icon.active {
            fill: #438DBA;
        }
    }

    &__svg:last-child {
        text-align: right;
    }

}