.popup-header {
    border-bottom: none;
}

.popup-footer {
    border-top: none;
}

.popup {
    &--h {
        text-align: center;
        font-size: 30px;
        line-height: 57px;
        letter-spacing: 0.1em;
        color: #438DBA;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--tel {
            width: 60%;
            background: #DCE6F0;
            border-radius: 33px;
            margin: 30px auto 10px;
            padding: 10px 25px;
            color: rgba(112, 106, 106, 0.5);
        }

        &--pas {
            width: 60%;
            background: #DCE6F0;
            border-radius: 33px;
            margin: 15px auto 0;
            padding: 10px 25px;
            color: rgba(112, 106, 106, 0.5);
        }
    }
}

.modal-btn {
    margin: auto;
    background: #438DBA!important;
    border-radius: 33px;
    width: 60%;
    border: none!important;
    box-shadow: none!important;  
}

.modal-btn:hover {
    background: #438DBA;
    border: none!important;
}

.modal-btn:active {
    background: #438DBA!important;
    border: none!important;
    box-shadow: none!important;
}

.modal-reg {
    margin: 30px auto 50px;
    &__p {
        font-size: 16px;
        line-height: 24px;
        color: #706A6A;
    }

    &__a {
        font-size: 16px;
        line-height: 24px;
        color: #438DBA;
    }

    &__a:hover {
        text-decoration: none;
        color: #438DBA;

    }
}