.news-head {
    display: flex;
    justify-content: space-between;
    &__h {
        // font-weight: 600;
        font-size: 25px;
        line-height: 43px;
        color: #706A6A;
    }

    &__a {
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        background: #438DBA;
        border-radius: 33px;
        padding: 8px 50px;
    }

    &__a:hover {
        text-decoration: none;
        color: #FFFFFF;

    }
}

.news-foot {
    justify-content: flex-end;
    margin-top: 30px;
} 

.news-block {

    &__a {
        display: contents;
    }

    &__a:hover {
        text-decoration: none;
    }

    &__container {
        background: #f9f9f9;
        display: flex;
        margin-top: 20px;
        @media (max-width: 767px) {
            flex-direction: column;
            margin-top: 25px;
    
        }
    }

    &__img {
        display: block;
        transition: all .6s;
        width: 100%;
    }

    &__img:hover {
        transform: scale(1.15) rotate(-5deg);
        width: 100%;
    }
    
    &__info {
        background: #F9F9F9;
        padding-left: 10px;

        &--date {
            font-size: 14px;
            line-height: 17px;
            color: #706A6A;
            margin-top: 30px;
        }

        &--h {
            font-size: 17px;
            line-height: 17px;
            color: #2C2C2C;
            margin-top: 15px;
        }

        &--p {
            font-size: 14px;
            line-height: 17px;
            color: #706A6A;
            margin-top: 10px;
        }

        &--a {
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            padding-top: 7px;
            padding-bottom: 7px;
            background: #438DBA;
            width: 130px;
            text-align: center;
            border-radius: 14px;
            margin-top: 25px;
            margin-bottom: 20px;
        }

        &--a:hover {
            text-decoration: none;
        }
    }
}

.news-block__image {
    position: relative;
    background-size: cover;
    height: 100%;

    @media (max-width: 991px) {
        height: 300px;
        background-position: center;

    }
}

.news-block__image--a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
}