.news-page {
    margin-top: 90px;

    &__block:nth-child(odd) .news-page__info {
        background: #f9f9f9;
    }

    &__block:nth-child(even) .news-page__info {
        background: #f9f9f9;
        margin-top: 0;
    }

    &__container {
        margin-top: 0;
    }

    &__img {

        @media (min-width: 768px) {
            max-width: 250px;
        }
    }

    &__info  {
        width: 100%;
        text-align: left;
        padding-left: 25px;
        padding-right: 25px;
    }

    &__btn {
        margin: 45px auto 20px auto;
        text-align: center;
    }
}

