// Slider

.news-open {
    margin-top: 140px;
    @media (max-width: 991px) {
        margin-top: 75px;

    }

    &__h {
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
        color: #2EAFFF;
    }

    &__sl {
        margin-top: 20px;
        width: 100%;
        margin-bottom: 100px;
        left: 0;
    
        &--block {
            background: #DCE6F0;
        }
    
        &--dots {
            bottom: -15%;
        }
    
        &--slide img {
            position: relative;
            margin: auto;
            z-index: 999;
            width: 100%;
            // top: -30px
        }


    
        // &--text {
        //     background: #DCE6F0;
        //     height: 100px;
        //     text-align: center;
        // }
    
        // &--zag {
        //     font-size: 20px;
        //     line-height: 36px;
        //     color: #2EAFFF;
        // }
    
        // &--desc {
        //     font-size: 20px;
        //     line-height: 28px;
        //     color: #706A6A;
        // }
    
    }

    &__p {
        font-size: 20px;
        line-height: 28px;
        color: #706A6A;
        margin-top: 15px;
    }

    &__tabs {
        margin-top: 50px;
    }

    &__left {
        display: flex;
        // justify-content: space-between;
        @media (max-width: 992px) {
            flex-direction: column;
        }
        &--btn {
            display: flex;
            margin-right: 15px;
            margin-top: 7px;
            font-size: 20px;
            line-height: 24px;
            color: rgba(112, 106, 106, 0.5);
        }

        &--btn:hover {
            text-decoration: none;
            color: rgba(112, 106, 106, 0.5);


        }

        &--icon {
            width: 15px;
            height: 20px;
            margin-right: 5px;
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;

        @media (max-width: 992px) {
            justify-content: flex-start;
        }
        &--btn {
            display: flex;
            margin-top: 7px;
        }

        &--icon {
            width: 15px;
            height: 20px;
            margin-right: 5px;

        }
    }
}
