

.central-block {
    margin-top: 80px;

    .notfound {

        &__number {
            height: 300px;
            display: flex;
            justify-content: center;
            padding-top: 150px;
            // margin-top: 100px;

            &--p {
                font-size: 270px;
                line-height: 20px;
                display: block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.01em;
                color: #2EAFFF;
                margin-top: 80px;
                // padding-top: 50px;

                @media (max-width: 750px) {
                    font-size: 150px;
                }

                @media (max-width: 350px) {
                    font-size: 100px;
                }
            }

            &--svg {
                width: 200px;
                height: 200px;
            }

            &--span {
                font-size: 200px;
                line-height: 20px;
                display: block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.01em;
                color: #363636;
                // padding-top: 50px;

                @media (max-width: 750px) {
                    font-size: 15px;
                }

                @media (max-width: 350px) {
                    font-size: 100px;
                }
            }
        }

        &__btn {
            padding-top: 100px;
            &--a {
                text-decoration: none;
            }

            &--a:hover {
                text-decoration: none;
            }

            &--block {
                display: flex;
                justify-content: center;
                flex-direction: column;

                &--text {

                }

                &--p {
                    font-size: 30px;
                    line-height: 36px;
                    color: #706A6A;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.01em;
                }

                &--arrow {
                    margin-top: 3px;
                    margin-left: 3px;
                }

                &--img {

                }
            }

            &--batton {
                text-align: center;
                margin-top: 50px;
            }
        }
    }
}