.sl {
    left: 0;
    @include size(100%, 100%);

    &__block--img {
        background-color: #2EAFFF;
        opacity: 0.5;
        z-index: 5; 
        position: absolute;
        height: 100%;
        width: 100%;
    }
}



.sl__slide {
    position: relative;
    height: 580px;
} 

.sl__slide img {
    width: auto;
    z-index: 1;
    // position: relative;
}

.sl__img {
    z-index: 10;
    position: absolute;
}


.sl__text {
    @include size(100%, 100%);
    @include pos($l: 0, $t: 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35%;
    color: #fff;
    text-align: center;
    z-index: 10;
}

.slick {
    &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        line-height: 0;
        width: 50px;
        height: 50px;
        z-index: -1;
    }

    &-prev {
        left: 30px;
    }

    &-next {
        right: 30px;
    } 

    &-dots li button {
        color: #DCE6F0;

    }

    &-dots li.slick-active button:before {
        color: #B32078;
    }

    &-dots li button:before {
        color: #DCE6F0;
    }

    &-dots {
        bottom: 5%;
    }

    &-dots li button:before { 
        color: #DCE6F0;
    }



}


