.main {
    overflow: hidden;
}

.sl {
    left: 0;
    @include size(100%, 100%);

    &__block--img {
        background-color: rgba(0.9, 0.9, 0.9, 18);
        opacity: 0.5;
        z-index: 5; 
        position: absolute;
        height: 100%;
        width: 100%;
    }


}



.sl__slide {
    position: relative;
    height: 580px;
} 

.sl__slide img {
    width: auto;
    z-index: 1;
    // position: relative;
}

.sl__img {
    z-index: 10;
    position: absolute;
}


.sl__text {
    @include size(100%, 100%);
    @include pos($l: 0, $t: 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 0 35%;
    color: #fff;
    // text-align: center;
    z-index: 10;
}

.sl__zag {
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
}

.sl__desc {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 5px;
}
// .slick {
//     &-arrow {
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         font-size: 0;
//         line-height: 0;
//         width: 80px;
//         height: 80px;
//         z-index: 1;
//     }

//     &-prev {
//         left: 30px;
//     }

//     &-next {
//         right: 30px;
//     } 

//     // &-dots li button {
//     //     color: #DCE6F0!important;

//     // }

//     // &-dots li.slick-active button:before {
//     //     color: #B32078!important;
//     // }

//     // &-dots li button:before {
//     //     color: #DCE6F0!important;
//     // }

//     // &-dots {
//     //     bottom: 5%;
//     //     // z-index: -1;
//     // }

//     // &-dots li button:before { 
//     //     color: #DCE6F0!important;
//     // }



// }


